@import 'theme';

body {
  font: $theme-font;
  padding:10px;
  background-color: #444;
  .title {
      h1 {
         text-transform: uppercase;
         font-family: $cool-font;
         letter-spacing: 2px;
         margin: 0; 
      }
  }
  h1, h2 {
      color: $themeColor-Dark
  }
  .jokescomponent {
      margin-top: 20px;
  }
  .jokeslist {
      margin-top:10px;
      background: #525250;
      color:#fff;
      padding:5px 20px;
      height: 100%;
      font-family: $theme-font;
      .message {
          margin: 30% 0 0 0;
          text-align: center;
          font-family: 'Luckiest Guy', 'cursive';
          color: $themeColor-Dark;
          font-size: 28px;
      }
      ul {
          margin: 0;
          padding: 0;
      }
      li {
          margin-top:10px;
          font-size: 18px;
          box-shadow: 0px 4px 15px 0 #676767;
          transition: .3s;
          padding:10px;
          list-style: none;
          font-weight: bold;
      }
      li:hover, li.selected {
          background: $themeColor-Dark;
          color:#000;
          cursor: pointer;
      }
      li.selected {
          background-color: $themeColor-Selected;
          color: #fff;
      }
      li.nohover {
        background: none;
        color: #fff;
      }
  }
  .toolbar {
      margin-top: 20px;
  }
  .toolbar-button {
    padding: 5px 10px;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration:none;
    font-family:$theme-font;
    font-size: 16px;
    color:#fff;
    border:2px solid $themeColor-Dark;
    border-radius: 2px;
    text-align:center;
    transition: all 0.2s;
  }
  .toolbar-button:hover {
    color:#000;
    background-color:$themeColor-Dark;
    cursor: pointer;
  }
  .login {
    width:300px;
    text-align: center;
    margin: 0 auto;
      .title {
          font-family: $cool-font;
          font-size: 24px;
      }
      .toolbar-button {
          color: #000;
          margin-right: 10px;
          margin-top: 10px;
      }
      input {
          width: 100%;
          height:30px;
          margin-top:10px;
      }
  }
  .inline {
      display:inline-block;
  }
  .center {
      text-align: center;
  }
  .flex {
      display: inline-flex;
  }
}