$themeColor-Light: #f3e2c7;
$themeColor-Dark:#ff9c00;
$themeColor-Selected:#00b8ff;
$theme-font:    'Raleway', 'Open Sans';
$cool-font: 'Luckiest Guy', cursive;
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway');